html {
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  background-color: #f7f8fc;
  color: $light-dark;
}

// Flexbox styles
// Buttons
